<!DOCTYPE html>
<html>
<head>
  <title>CMPEit</title>
</head>
<body bgcolor="#eff2f1">
  <header style="background-color: black;color:white; padding:10px">
    <font size="24">CMPEit Show Post Page</font>
    <nav align="right">
      <% if (currentUser) { %>
        <span style="font-size:30px;":><strong> Welcome <%= currentUser.username %> </strong></span>
        <a href="/post/new-post" style="color:white">   Create a Post</a>
        <a href="/logout" style="color:white">   Logout </a>
      <% } else { %>
        <a href="/" style="color:white">   Login </a>
        <a href="/signup" style="color:white">   Register </a>
        <a href="/post/new-post" style="color:white">   Create a Post</a>
      <% } %>
    </nav>
  </header>

  <article>

    <% for(var i = 0; i < posts.length; i++) { %>
      <span style="font-size:30px;":><strong><%= posts[i].name %></strong></span>
      <span style="font-size:15px"> #<%= i + 1 %></span>
      <span style="font-size:15px"> by: <%= posts[i].author.username %> on</span>
      <span style="font-size:15px;text-decoration: underline;":><strong><%= posts[i].timestamp %></strong></span><br>
      <span style="font-size:20px"><%= posts[i].content %></span><br>

      <% if (currentUser) { %>
      <form method="POST">
      <span style="font-size:15px">
          <a href="/post/<%=posts[i]._id%>/comment/new-comment">Comment</a>
          <button id="like" formaction="/post/<%=posts[i]._id%>/like" formmethod="POST">Like</button> <span id="like-count" style="color:green"> <%= posts[i].likes %></span>
          <button id="dislike" formaction="/post/<%=posts[i]._id%>/dislike" formmethod="POST">Dislike</button> <span id="dislike-count" style="color:red"> <%= posts[i].dislikes %></span>
        </span><br>
      <% } %>
      </form>
        <% for(var j = 0; j < comments.length; j++) { %>

            <% if (comments[j].postId === posts[i]._id.toString()) { %>
              <span style="font-size:20px; padding-left:30px; color:#737373"><%= comments[j].author.username %>: <%= comments[j].content %></span>
              <br>
            <% } %>
      <% } %>
      <br/>
      <hr>
    <% }%>
  </article>
</body>
<script>

</script>
</html>
