<!DOCTYPE html>
<html>
<head>
  <title>CMPEit</title>
</head>
<body bgcolor="#eff2f1">
  <header style="background-color: black;color:white; padding:10px">
    <font size="24">CMPEit Show Post Page</font>
    <nav align="right">
      <% if (currentUser) { %>
        <span style="font-size:30px;":><strong> Welcome <%= currentUser.username %> </strong></span>
        <a href="/post/new-post" style="color:white">   Create a Post</a>
        <a href="/logout" style="color:white">   Logout </a>
      <% } else { %>
        <a href="/" style="color:white">   Login </a>
        <a href="/signup" style="color:white">   Register </a>
        <a href="/post/new-post" style="color:white">   Create a Post</a>
      <% } %>
    </nav>
  </header>

  <article>
      <% var i = 0 %>
      <% posts.forEach(function(post) { %>
          <span style="font-size:30px;":><strong><%= post.name %></strong></span>
          <span style="font-size:15px"> #<%= i + 1 %></span>
          <span style="font-size:15px"> by: <%= post.author.username %> on</span>
          <span style="font-size:15px;text-decoration: underline;":><strong><%= post.timestamp %></strong></span><br>
          <span style="font-size:20px"><%= post.content %></span><br>
          <form method="POST">
              <% if (currentUser) { %>
                  <span style="font-size:15px">
                      <a href="/post/<%=post._id%>/comment/new-comment">Comment</a>
                      <button id="like" formaction="/post/<%=post._id%>/like" formmethod="POST">Like</button> <span id="like-count" style="color:green"> <%= post.likes %></span>
                      <button id="dislike" formaction="/post/<%=post._id%>/dislike" formmethod="POST">Dislike</button> <span id="dislike-count" style="color:red"> <%= post.dislikes %></span>
                  </span>
                  <br>
              <% } %>
          </form>
          <% comments.forEach(function(comment) { %>
            <% if (comment.postId === post._id.toString()) { %>
                <span style="font-size:20px; padding-left:30px; color:#737373"><%= comment.author.username %>: <%= comment.content %> </span>
                <br>
            <% } %>
          <% }) %>
          <br/>
          <hr>
      <% }) %>
  </article>
</body>
</html>
